{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>personal finance tracker</title>
    <link
      rel="shortcut icon"
      href="static/images/logo.jpg"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href={% static "styles/style.css" %} />
  </head>

  <body>
    <div id="nav">
    <img
      src="static/images/logo2.jpeg"
      alt=""
    />
    <h4></h4>
    <h4></h4>
    <h4></h4>
    <h4></h4>
    <h4></h4>
    <h4></h4>
    <h4></h4>
    <h4></h4>
    <h4></h4>
    <h4></h4>
    <h4></h4>
    <h4></h4>
    <h4></h4>
    <h4></h4>
    <h4></h4>
    <h4></h4>
    <h4></h4>
    <h4></h4>
    <h4></h4>
    <h4></h4>
    {% if user.is_authenticated %}
    <a href="accounts/logout"><h4>logout</h4></a>
    {% else %}
    <a href="accounts/login"><h4>login</h4></a>
    {% endif %}
    
  </div>
  <div id="cursor"></div>
    <div id="cursor-blur"></div>
    {% block body %}{% endblock body %}
    <script src ={% static "js/script.js" %}></script>